@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

body {
  font-family: "Inter", sans-serif;
  background-color: #1a1a1a;
  color: #fff;
}

.logo {
  width: 80px;
}

.hero-image-container {
  text-align: start;
  margin-top: 2rem;
}

.hero-image {
  width: 100%;
}

@media (min-width: 768px) {
  .hero-image-container {
    text-align: end;
  }

  .hero-image {
    width: 400px;
  }
}

.text-gray {
  color: #6c757d;
}

.text-aqua {
  color: aqua;
}

.bg-gray {
  background-color: #6c757d;
}

.bg-gray:hover {
  background-color: rgb(142, 156, 171);
}

textarea,
input::placeholder {
  color: rgba(0, 255, 255, 0.4) !important;
}

.form-container {
  width: 100%;
}

@media (min-width: 768px) {
  .form-container {
    width: 50%;
  }
}
